@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
        <div class="row justify-content-center">
        <div class="col-md-6" col-md-8">
            <div class="card">
                <img class="card-img-top" src="~/PBELTRAN.jpg" alt="Card image cap">
            <div class="card-body text-center">
                <h5 class="card-title">Pablo Ariel Beltrán</h5>
                <p class="card-text">Estudiante de Analista de Sistemas, 3° año. Primer exámen de Programación V, tema ASP.Net MVC</p>
                <a class="btn btn-primary" asp-controller="Usuarios" asp-action="Index">ABM Usuario</a>
            </div>
            </div>
        </div>
    </div>
</div>

